@import url("reset.css");
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Microsoft JhengHei", "Heiti TC", "sans-serif";
}

img {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
}


/* header設定 */

#mobile_menu {
    display: none;
}

header {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #373c3f;
}

header>nav {
    width: 1024px;
    height: 97px;
    margin: 0 auto;
}

header>nav>h1 {
    line-height: 97px;
    color: #fff;
    font-size: 18px;
    float: left;
}

header>nav>div {
    color: #fff;
    font-size: 18px;
    float: left;
    padding-left: 20px;
}

header>nav>div>a {
    display: block;
    line-height: 97px;
    padding: 0 10px;
    float: left;
    color: #fff;
}


/* article設定 */

article {
    position: relative;
    width: 100%;
    height: 577px;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

article>div {
    position: absolute;
    top: 50%;
    margin-top: -138px;
    left: 50%;
    margin-left: -500px;
    width: 740px;
    height: 275px;
    background-image: url("../images/rightbtn-finish.png");
    background-repeat: no-repeat;
    background-size: 19px 30px;
    background-position: right bottom;
}

article>div>h1 {
    font-size: 73px;
    color: #fff;
}

article>div>p {
    padding-top: 43px;
    font-size: 26px;
    color: #a7d2dc;
}


/* aside設定 */

aside {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #27212c;
}

aside>div {
    width: 1024px;
    height: 243px;
    margin: 0 auto;
}

aside>div>h3 {
    display: block;
    width: 77%;
    height: 244px;
    float: left;
    color: #9383a2;
    line-height: 244px;
}

aside>div>a {
    display: block;
    width: 23%;
    height: 244px;
    float: left;
    background-color: #bc3183;
    background-image: url("../images/rightbtn-finish.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/* main設定 */

main {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #5b0fa1;
}

main>div {
    width: 1024px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

main>div>div {
    width: 33.33333%;
    height: 294px;
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box1 {
    background-image: url("../images/rightbtn-finish.png");
    background-size: 20px 31px;
}

.box2 {
    background-image: url("../images/r1.jpg");
}

.box3 {
    background-image: url("../images/r2.jpg");
}


/* footer設定 */

footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #ebebeb;
}

footer>div {
    width: 1024px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 54px 81px 170px 81px;
}

footer>div>div {
    width: 45%;
    height: auto;
    overflow: hidden;
}

footer>div>div.leftBox {
    float: left;
}

footer>div>div.rirhtBox {
    float: right;
    padding-top: 39px;
}

div.leftBox h3 {
    font-size: 30px;
    color: #088ca5;
}

footer>div>div>p {
    font-size: 14px;
    color: #515151;
    padding-top: 46px;
}

@media screen and (max-width: 1024px) {
    header>nav,
    article>div,
    aside>div,
    main>div,
    footer>div {
        width: 100%;
    }
    header>nav {
        padding-left: 53px;
    }
    article {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article>div {
        position: static;
        top: 0%;
        left: 0%;
        margin-top: 0px;
        margin-left: 0px;
        height: auto;
        background-image: url("../images/rightbtn-finish.png");
        background-repeat: no-repeat;
        background-size: 19px 30px;
        background-position: 79% bottom;
        padding-left: 8%;
        padding-right: 21%;
    }
    aside>div>h3 {
        padding-left: 8%;
        padding-right: 8%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 640px) {
    #mobile_menu {
        display: block;
        width: 82px;
        height: 74px;
        background-image: url('../images/menu.jpg');
        float: right;
    }
    header>nav {
        transition: height 0.3s;
        height: 74px;
        overflow: hidden;
    }
    header>nav.open {
        height: 444px;
    }
    header>nav>h1 {
        line-height: 74px;
    }
    header>nav>div {
        clear: both;
        padding-left: 0px;
        float: none;
        width: 100%;
        height: auto;
    }
    header>nav>div>a {
        width: 100%;
        height: auto;
        overflow: hidden;
        line-height: 74px;
    }
    article {
        height: 348px;
    }
    article > div > h1 {
        font-size: 40px;
    }
    article > div > p {
        font-size: 18px;
        padding-top: 30px;
    }
    
    aside>div {
        height: 150px;
    }

    aside>div>h3 {
        height: 100%;
        line-height: 150px;
    }

    aside>div>a {
        height: 100%;
    }
    main>div>div {
        width: 100%;
        padding-top: 75%;
        height: auto;
        float: none;
    }
    footer > div{
        padding: 12%;
    }
    footer > div > div {
    width: 100%;
    height: auto;
    overflow: hidden;
    }

    footer>div>div.leftBox {
        float: left;
    }

    footer>div>div.rirhtBox {
        float: right;
        padding-top: 0px;
    }
    footer>div>div>p {
        font-size: 18px;
        color: #515151;
        padding-top: 72px;
        line-height: 38px;
    }

    div.leftBox h3 {
        font-size: 24px;
        color: #088ca5;
    }
}

@media screen and (max-width: 320px) {
    #mobile_menu {
        display: block;
        width: 41px;
        height: 37px;
        background-size: 100% 100%;
        float: right;
    }
    header>nav {
        transition: height 0.3s;
        height: 37px;
        overflow: hidden;
        padding-left: 19px;
    }
    header>nav.open {
        height: 222px;
    }
    header>nav>h1 {
        line-height: 37px;
    }
    header>nav>div>a {
        line-height: 37px;
    }
    article {
        height: 175px;
    }
    article > div > h1 {
        font-size: 25px;
    }
    article > div > p {
        font-size: 15px;
        padding-top: 30px;
    }
    aside>div {
        height: 75px;
    }

    aside>div>h3 {
        font-size: 14px;
        line-height: 75px;
    }

    aside>div>a {
        background-size: 9px 14px;
    }
    

    footer>div>div>p {
        font-size: 18px;
        color: #515151;
        padding-top: 25px;
        line-height: 30px;
        padding-bottom: 36px;
    }

    div.leftBox h3 {
        font-size: 24px;
        color: #088ca5;
    }

}